{% extends "layouts/base.njk" %}

{% block body %}

<div class="grid gap-4 md:grid-cols-[minmax(200px,_1fr)_4fr] p-4">
  {% include "partials/navigation.njk" %}
  <main class="w-full">
    {% block content %}
      {% if not self.content %}
        {{ content | safe }}
      {% endif %}
    {% endblock %}
  </main>
</div>

{% endblock %}