@layer base {
  a {
    @apply underline;
  }

  section {
    outline: 2px white groove;
    @apply bg-black bg-dark-secondary p-2 mb-4;

    & li {
      list-style-type: disc;
      margin-left: 1rem;
    }
  }

  img {
    height: auto;
  }

  h1 {
    @apply mb-4 font-bold text-3xl;
  }

  h2 {
    @apply font-bold text-2xl;
  }

  h3 {
    @apply font-bold text-xl;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply mt-2 mb-2 font-bold;
  }

  p {
    @apply mb-2;
  }

  a {
    @apply text-green-500;
  }
}